body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  background-color: #2e7d32;
  color: white;
  padding: 20px 0;
  border-radius: 8px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header h2 {
  margin: 0;
  font-size: 24px;
}
section {
  margin-top: 20px;
}

h2 {
  color: #2e7d32;
  font-size: 22px;
  border-bottom: 2px solid #2e7d32;
  padding-bottom: 10px;
}

p {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2e7d32;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

a {
  color: #2e7d32;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  a {
      font-size: 14px; /* Переконайтеся, що розмір тексту не надто малий для телефону */
  }
}